/* Default styles for larger screens (960px and above) */
.Title {
    font-size: 12vw
}

h2 {
    font-size: 8vw;
}

.filter-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-item {
    cursor: pointer;
    text-align: center;
    padding: 1vw;
    /* Adjust padding as needed */
}

.filter-item img {
    width: 100%;
    /* Make the image fill its container */
    max-width: 80%;
    /* Ensure the image doesn't exceed its natural size */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
}

.filter-item span {
    display: block;
    font-size: 2vw;
}

.filter-item:hover span {
    text-decoration: underline;
}

.filter-item.remove-filter {
    color: red !important;
}


/* Media query for smaller screens */
@media (max-width: 922px) {
    .filter-item img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .filter-item span {
        font-weight: bold;
    }

    .filter-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        width: 90%;
    }

    .filter-dropdown button {
        margin: 30px 0;
        background-color: #e2e5da;
        cursor: pointer;
        border: none;
    }

    .filter-dropdown button:hover {
        border: 2px solid #768063;
    }

    .filter-item.selected {
        outline: 2px solid #768063;
        /* Outline for the selected item on smaller screens */
    }

    .filter-item:hover {
        outline: 1px solid #768063;
        /* Hover outline for all items on smaller screens */
    }
}