.home-container {
    background: url("../images/mainPage1.png") center center/cover no-repeat;
    background-color: #768063;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
    opacity: 0.9;
    padding: 10px;
}

.try {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.first {
    display: flex;
    margin: 0px;
    flex: 1;

    align-items: start;
}

.second {
    display: flex;
    flex: -1;

    align-items: start;
}

.home-container > img {
    color: #f1f2ed;
    width: 400px;

}

.home-container > h1 {
    color: #f1f2ed;
    font-size: 100px;
    text-shadow:
      0.01em 0 black,
      0 0.01em black,
      -0.01em 0 black,
      0 -0.01em black;
    letter-spacing: 2px;
}

.home-container > p {
    margin: 8px 20px 10px 20px;
    color: #f1f2ed;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-container > p span{
    margin: 100px 20px 10px 20px;
    color: #f1f2f1;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-btns {
    margin-top: 32px;
}

.home-btns .btn {
    margin: 6px;
}

/* Add these styles to HomePage.css */

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff; /* Border color for inactive dots */
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot:hover {
    background-color: #fff; /* Background color for the active dot */
    transform: scale(1.5); /* Increase size of the active dot */
}
  
.dot.active.neighbor {
    background-color: #fff; /* Background color for the active dot */
    transform: scale(1.5); /* Increase size of the active dot */
}

.dot.neighbor {
    transform: scale(1.2);
}
    

@media screen and (max-width: 1200px) {
    .home-container > h1 {
        font-size: 80px;
    }
    .home-container > p {
        font-size: 30px;
    }
}

@media screen and (max-width: 960px) {
    .home-container > h1 {
        font-size: 60px;
    }
    .home-container > p {
        font-size: 28px;
    }
}

@media screen and (max-width: 760px) {
    .home-container{
        height: 100vh;
    }
    .home-container > img {
        margin-top: -100px;
        width: 250px;
        margin-bottom: 50px;
    }
    .home-container > h1 {
        font-size: 40px;
    }

    .home-container > p {
        font-size: 25px;
    }

    .home-container > p span {
        font-size: 25px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }

    .first {
        margin-bottom: 50px;
    }
    
    .second {
        margin-bottom: 50px;
    }
    .btn--large {
        padding: 10px 20px;
        font-size: 20px;
        width: 100px;
    }
}
