/* Add this to your styles.css or styles.scss file */

.loading-icon {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .loading-icon-link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px #768063;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .loading-icon-pic-wrap {
    position: relative;
    width: 100%;
    padding: 20% 0%;
    overflow: hidden;
  }
  
  .loading-icon-info {
    padding: 25px 30px 25px;
  }
  
  .loading-icon-text {
    color: #768063;
    font-size: 24px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 923px) {
    .loading-icon {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-row-gap: 35px;
      grid-column-gap: 0px;
    }
  }

  @media only screen and (min-width: 923px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 924px) {
    .blog__container {
      width: 100%;
    }
    .loading-icon {
      margin-bottom: 2rem;
      margin-left: 0px;
      width: 100%;
    }
  
    .cards__item__info{
      padding: 20px 10px 20px ;
    }
  
  }